@use '../../globals.css';
@use '../variables.scss';

.main-content {
    @apply flex h-full flex-col;

    .header-wrapper {
        @apply bg-primary px-5;
        > div {
            @apply flex items-center justify-between font-semibold text-white py-2;

            .header-left,
            .header-right {
                @apply flex items-center;
            }

            .user-dropdown {
                @apply flex items-center justify-center rounded-full bg-white w-10 h-10  text-primary p-1;
            }
        }
    }

    .body-content {
        @apply relative flex-1;

        .sidebar {
            @apply absolute bg-white py-2 h-full w-72 transition-all z-20 text-sm;
            > nav {
                @apply relative text-gray-700 font-medium;

                > ul > li {
                    > a {
                        @apply flex items-center pl-3 py-2 transition-all hover:bg-slate-50 relative;
                        &.active {
                            @apply bg-slate-100 border-l-4 border-primary;
                        }
                        > i {
                            @apply text-xl mr-2 w-6;
                        }
                    }
                    > ul {
                        @apply mb-2;
                        > li > a {
                            @apply block pl-14 py-1 font-normal transition-all hover:bg-slate-50;
                            &.active {
                                @apply bg-slate-100 border-l-4 border-primary font-semibold;
                            }
                            > span {
                                @apply block text-xs;
                            }
                        }
                    }
                }
            }
        }

        .page-wrapper {
            @apply flex h-full relative transition-all;
            > div {
                @apply absolute top-0 left-0 right-0 bottom-0 overflow-x-hidden overflow-y-auto z-10;
            }
        }
    }
}

.page-content {
    @apply p-5 h-full;

    > div {
        @apply h-full relative bg-white rounded-2xl;

        > div {
            @apply p-5 absolute top-0 bottom-0 left-0 right-0 grid overflow-auto;
            grid-template-rows: auto auto 1fr auto;
        }
    }
}

.section-content {
    @apply relative bg-white rounded-2xl mb-2;
    > div {
        @apply p-5;

        .data-card-wrapper {
            @apply grid gap-4;
        }
        .data-card {
            @apply border rounded-lg overflow-hidden;
            &.with-title > div:first-of-type {
                background-color: $primary-aux;
            }

            > div {
                @apply flex items-center border-b last-of-type:border-b-0;

                span {
                    @apply text-gray-400 inline-flex p-1 uppercase text-sm;
                }
                label {
                    @apply text-gray-700 inline-flex w-auto p-1 font-semibold;
                }
            }
        }
    }
}

.table-week {
    .table-title {
        @apply flex items-center justify-between text-slate-500;
        h3 {
            @apply text-lg font-semibold;
        }
        div {
            @apply text-sm;
        }
    }
    .table-footer {
        @apply text-right pr-4 mt-2;

        div {
            @apply text-sm  text-slate-500;
            span {
                @apply inline-block min-w-24 text-right font-semibold;
            }
        }
    }
    table {
        @apply w-full table-fixed text-sm;
        tr > th:first-of-type,
        tr > td:first-of-type {
            @apply w-12;
        }
        thead {
            th {
                @apply py-1 border border-slate-300 h-32 relative text-left;

                &:first-of-type > span {
                    @apply rotate-0 left-0 right-0 justify-center;
                }
                span {
                    @apply absolute left-2/4 -rotate-90 origin-left inline-flex max-w-24 h-12 items-center text-sm text-slate-500 font-medium uppercase;
                    bottom: calc(0px - 6px);
                }
            }
        }
        tbody {
            td {
                @apply py-1 border border-slate-300;
            }
        }
    }

    &.with-totals table tbody tr {
        &:last-of-type {
            background-color: $primary-aux;
            td {
                &:first-of-type {
                    @apply font-semibold uppercase text-xs;
                }
                @apply font-semibold;
            }
        }
        td {
            &:first-of-type {
                @apply text-sm text-slate-500 font-normal;
            }
            &:last-of-type {
                @apply font-semibold;
                background-color: $primary-aux;
            }
        }
    }
}

.non-interactive-series {
    pointer-events: none;
}

@media screen and (max-width: 800px) {
    .main-content .header-wrapper {
        @apply px-3;
        .header-left {
            h2 {
                @apply hidden;
            }
            button {
                @apply px-2;
            }
        }
        .header-right {
            p {
                @apply text-base;
            }
            .user-dropdown {
                @apply w-8 h-8;
                i {
                    @apply text-lg;
                }
            }
        }
    }
    .sidebar {
        @apply shadow-xl;
    }
    .page-wrapper {
        @apply ml-0;
    }
    .section-content > div .data-list > div span {
        @apply w-32;
    }
}
