$primary: #7ac2cd;
$primary-hover: darken($primary, 10%);

$secondary: #575757;
$secondary-hover: darken($secondary, 10%);

$danger: #dd7c7c;
$danger-hover: darken($danger, 10%);

$white: #fff;
$black: #000;
