@import url(./globals.css);
@use '../../globals.css';
@use '../variables.scss';
/*BUTTONS*/
.btn {
  min-width: 32px;
  align-items: center;
  outline: none;
  box-shadow: none;
  transition: all 0.1s ease-in; }
  .btn:not(:disabled):not(.disabled):focus, .btn:not(:disabled):not(.disabled):active, .btn:not(:disabled):not(.disabled):hover {
    outline: none;
    box-shadow: none; }
  .btn.disabled {
    @apply text-gray-300; }
    .btn.disabled:hover {
      @apply text-gray-300; }
  .btn.btn-primary:not(:disabled):not(.disabled) {
    color: #fff;
    background-color: #7ac2cd;
    border-color: #7ac2cd; }
    .btn.btn-primary:not(:disabled):not(.disabled):focus, .btn.btn-primary:not(:disabled):not(.disabled):active, .btn.btn-primary:not(:disabled):not(.disabled):hover {
      color: #fff;
      border-color: #55b1bf;
      background-color: #55b1bf; }
  .btn.btn-primary-outline:not(:disabled):not(.disabled) {
    color: #7ac2cd;
    background-color: #edf7f8;
    border-color: #b2dce2;
    border-width: 1px; }
    .btn.btn-primary-outline:not(:disabled):not(.disabled).active {
      color: #fff;
      background-color: #7ac2cd;
      border-color: #7ac2cd; }
    .btn.btn-primary-outline:not(:disabled):not(.disabled):focus, .btn.btn-primary-outline:not(:disabled):not(.disabled):active, .btn.btn-primary-outline:not(:disabled):not(.disabled):hover {
      color: #fff;
      border-color: #44a7b6;
      background-color: #44a7b6; }
  .btn.btn-secondary:not(:disabled):not(.disabled) {
    color: #fff;
    background-color: #575757;
    border-color: #575757; }
    .btn.btn-secondary:not(:disabled):not(.disabled):focus, .btn.btn-secondary:not(:disabled):not(.disabled):active, .btn.btn-secondary:not(:disabled):not(.disabled):hover {
      color: #fff;
      border-color: #313131;
      background-color: #313131; }
  .btn.btn-secondary-outline:not(:disabled):not(.disabled) {
    color: #575757;
    background-color: transparent;
    border-color: #d7d6d6;
    border-width: 1px; }
    .btn.btn-secondary-outline:not(:disabled):not(.disabled).active {
      color: #fff;
      background-color: #575757;
      border-color: #575757; }
    .btn.btn-secondary-outline:not(:disabled):not(.disabled):focus, .btn.btn-secondary-outline:not(:disabled):not(.disabled):active, .btn.btn-secondary-outline:not(:disabled):not(.disabled):hover {
      color: #fff;
      border-color: #313131;
      background-color: #313131; }
  .btn.btn-secondary-link:not(:disabled):not(.disabled) {
    color: #575757;
    background-color: transparent;
    border-color: transparent; }
    .btn.btn-secondary-link:not(:disabled):not(.disabled):focus, .btn.btn-secondary-link:not(:disabled):not(.disabled):active, .btn.btn-secondary-link:not(:disabled):not(.disabled):hover {
      color: #fff;
      border-color: #313131;
      background-color: #313131; }
  .btn.btn-danger:not(:disabled):not(.disabled) {
    color: #fff;
    background-color: #dd7c7c;
    border-color: #dd7c7c; }
    .btn.btn-danger:not(:disabled):not(.disabled):focus, .btn.btn-danger:not(:disabled):not(.disabled):active, .btn.btn-danger:not(:disabled):not(.disabled):hover {
      color: #fff;
      border-color: #cd3f3f;
      background-color: #cd3f3f; }
  .btn.btn-danger-outline:not(:disabled):not(.disabled) {
    color: #dd7c7c;
    background-color: #fefafa;
    border-color: #edb9b9;
    border-width: 1px; }
    .btn.btn-danger-outline:not(:disabled):not(.disabled):focus, .btn.btn-danger-outline:not(:disabled):not(.disabled):active, .btn.btn-danger-outline:not(:disabled):not(.disabled):hover {
      color: #fff;
      border-color: #cd3f3f;
      background-color: #cd3f3f; }

@use '../../globals.css';
@use '../variables.scss';
.fa,
.fas,
.fal,
.fad,
.fab,
.far {
  line-height: inherit !important; }

.page-title {
  @apply border-b pb-4 text-gray-400 mb-4; }
  .page-title h2 {
    @apply text-xl font-semibold text-gray-700; }
  .page-title p {
    @apply text-sm; }

.form-row {
  @apply flex flex-wrap -mx-2; }

.col {
  @apply w-full px-2 mb-2; }
  .col .ctrl-label {
    @apply text-gray-500; }

@use '../../globals.css';
@use '../variables.scss';
.modal {
  @apply rounded-md gap-0; }
  .modal .modal-header {
    @apply space-y-0 pb-4 border-b; }
    .modal .modal-header h2 {
      @apply font-semibold tracking-tight text-left text-xl; }
    .modal .modal-header p {
      @apply mt-0 text-left italic text-sm text-gray-400; }
  .modal .modal-content {
    @apply mt-4 mb-10; }
  .modal .modal-footer {
    @apply mt-6; }
    .modal .modal-footer button {
      @apply mt-2 sm:mt-0; }
  .modal.modal-md {
    @apply sm:max-w-[460px] md:max-w-[600px] lg:max-w-[800px]; }

@use '../../globals.css';
@use '../variables.scss';
.main-content {
  @apply flex h-full flex-col; }
  .main-content .header-wrapper {
    @apply bg-primary px-4; }
    .main-content .header-wrapper > div {
      @apply flex items-center justify-between font-semibold text-white py-1; }
      .main-content .header-wrapper > div .header-left,
      .main-content .header-wrapper > div .header-right {
        @apply flex items-center; }
      .main-content .header-wrapper > div .user-dropdown {
        @apply flex items-center justify-center rounded-full bg-white w-10 h-10  text-primary p-1; }
  .main-content .body-content {
    @apply relative flex-1; }
    .main-content .body-content .sidebar {
      @apply absolute bg-white py-2 h-full w-72 transition-all z-20 text-sm; }
      .main-content .body-content .sidebar > nav {
        @apply relative text-gray-700 font-medium; }
        .main-content .body-content .sidebar > nav > ul > li > a {
          @apply flex items-center pl-3 py-2 transition-all hover:bg-slate-50 relative; }
          .main-content .body-content .sidebar > nav > ul > li > a.active {
            @apply bg-slate-100 border-l-4 border-primary; }
          .main-content .body-content .sidebar > nav > ul > li > a > i {
            @apply text-xl mr-2 w-6; }
        .main-content .body-content .sidebar > nav > ul > li > ul {
          @apply mb-2; }
          .main-content .body-content .sidebar > nav > ul > li > ul > li > a {
            @apply block pl-14 py-1 font-normal transition-all hover:bg-slate-50; }
            .main-content .body-content .sidebar > nav > ul > li > ul > li > a.active {
              @apply bg-slate-100 border-l-4 border-primary font-semibold; }
            .main-content .body-content .sidebar > nav > ul > li > ul > li > a > span {
              @apply block text-xs; }
    .main-content .body-content .page-wrapper {
      @apply flex h-full relative transition-all; }
      .main-content .body-content .page-wrapper > div {
        @apply absolute top-0 left-0 right-0 bottom-0 overflow-x-hidden overflow-y-auto z-10; }

.page-content {
  @apply p-5 h-full; }
  .page-content > div {
    @apply h-full relative bg-white rounded-2xl; }
    .page-content > div > div {
      @apply p-5 absolute top-0 bottom-0 left-0 right-0 grid overflow-auto;
      grid-template-rows: auto auto 1fr auto; }

.section-content {
  @apply relative bg-white rounded-2xl mb-2; }
  .section-content > div {
    @apply p-5; }
    .section-content > div .data-card-wrapper {
      @apply grid gap-4; }
      .section-content > div .data-card-wrapper.table-wrapper {
        @apply border rounded-lg overflow-hidden; }
    .section-content > div .table-data {
      @apply border-hidden text-left; }
      .section-content > div .table-data thead th {
        background-color: #e3efe1;
        @apply border text-gray-700 p-1 uppercase text-xs; }
      .section-content > div .table-data tbody td {
        @apply border text-gray-700 p-1 font-semibold; }
    .section-content > div .data-card {
      @apply border rounded-lg overflow-hidden; }
      .section-content > div .data-card.with-title > div:first-of-type {
        background-color: #e3efe1; }
      .section-content > div .data-card > div {
        @apply flex items-center border-b last-of-type:border-b-0; }
        .section-content > div .data-card > div span {
          @apply text-gray-400 inline-flex p-1 uppercase text-sm; }
        .section-content > div .data-card > div label {
          @apply text-gray-700 inline-flex w-auto p-1 font-semibold; }

.table-week .table-title {
  @apply flex items-center justify-between text-slate-500; }
  .table-week .table-title h3 {
    @apply text-lg font-semibold; }
  .table-week .table-title div {
    @apply text-sm; }

.table-week .table-footer {
  @apply text-right pr-4 mt-2; }
  .table-week .table-footer div {
    @apply text-sm  text-slate-500; }
    .table-week .table-footer div span {
      @apply inline-block min-w-24 text-right font-semibold; }

.table-week table {
  @apply w-full table-fixed text-sm; }
  .table-week table tr > th:first-of-type,
  .table-week table tr > td:first-of-type {
    @apply w-12; }
  .table-week table thead th {
    @apply py-1 border border-slate-300 h-32 relative text-left; }
    .table-week table thead th:first-of-type > span {
      @apply rotate-0 left-0 right-0 justify-center; }
    .table-week table thead th span {
      @apply absolute left-2/4 -rotate-90 origin-left inline-flex max-w-24 h-12 items-center text-sm text-slate-500 font-medium uppercase;
      bottom: calc(0px - 6px); }
  .table-week table tbody td {
    @apply py-1 border border-slate-300; }

.table-week.with-totals table tbody tr:last-of-type {
  background-color: #e3efe1; }
  .table-week.with-totals table tbody tr:last-of-type td {
    @apply font-semibold; }
    .table-week.with-totals table tbody tr:last-of-type td:first-of-type {
      @apply font-semibold uppercase text-xs; }

.table-week.with-totals table tbody tr td:first-of-type {
  @apply text-sm text-slate-500 font-normal; }

.table-week.with-totals table tbody tr td:last-of-type {
  @apply font-semibold;
  background-color: #e3efe1; }

.non-interactive-series {
  pointer-events: none; }

@media screen and (max-width: 800px) {
  .header-wrapper {
    @apply bg-primary px-5; }
    .header-wrapper > div {
      @apply flex items-center justify-between font-semibold text-white py-2; }
      .header-wrapper > div .header-left,
      .header-wrapper > div .header-right {
        @apply flex items-center; }
      .header-wrapper > div .user-dropdown {
        @apply flex items-center justify-center rounded-full bg-white w-10 h-10  text-primary p-1; }
  .main-content .header-wrapper {
    @apply px-3; }
    .main-content .header-wrapper > div {
      @apply p-0; }
    .main-content .header-wrapper .header-left h2 {
      @apply hidden; }
    .main-content .header-wrapper .header-left button {
      @apply px-2 text-xs; }
    .main-content .header-wrapper .header-right p {
      @apply text-base; }
    .main-content .header-wrapper .header-right .user-dropdown {
      @apply w-8 h-8; }
      .main-content .header-wrapper .header-right .user-dropdown i {
        @apply text-lg; }
  .sidebar {
    @apply shadow-xl; }
  .page-wrapper {
    @apply ml-0; }
  .section-content > div .data-list > div span {
    @apply w-32; } }

@media screen and (min-width: 801px) and (max-width: 1200px) {
  .header-wrapper {
    @apply bg-primary px-5; }
    .header-wrapper > div {
      @apply flex items-center justify-between font-semibold text-white py-2; }
      .header-wrapper > div .header-left,
      .header-wrapper > div .header-right {
        @apply flex items-center; }
      .header-wrapper > div .user-dropdown {
        @apply flex items-center justify-center rounded-full bg-white w-10 h-10  text-primary p-1; }
  .main-content .header-wrapper {
    @apply px-3; }
    .main-content .header-wrapper > div {
      @apply p-0; }
    .main-content .header-wrapper .header-left h2 {
      @apply text-xs; }
    .main-content .header-wrapper .header-left img {
      @apply w-14; }
    .main-content .header-wrapper .header-left button {
      @apply px-2; }
    .main-content .header-wrapper .header-right p {
      @apply text-sm; }
    .main-content .header-wrapper .header-right button > div > div {
      @apply leading-3; }
    .main-content .header-wrapper .header-right button .user-dropdown {
      @apply w-8 h-8; }
      .main-content .header-wrapper .header-right button .user-dropdown i {
        @apply text-lg; }
  .sidebar {
    @apply shadow-xl; }
  .page-wrapper {
    @apply ml-0; }
  .section-content > div .data-list > div span {
    @apply w-32; } }

@media print {
  body {
    background-color: transparent; }
  .section-content,
  .table-week,
  .data-card {
    page-break-inside: avoid; } }

html,
body,
#root {
  padding: 0;
  margin: 0;
  min-height: 100%;
  height: 100%;
  font-size: 16px; }
  html *:focus-visible,
  body *:focus-visible,
  #root *:focus-visible {
    outline: none; }

body {
  background-color: #e3efe1; }
  body.print {
    background-color: transparent; }

::placeholder {
  color: #ccc !important;
  opacity: 1; }

::-ms-input-placeholder {
  color: #ccc !important; }

.table-loading {
  @apply absolute left-0 right-0 bottom-0 flex items-center justify-center transition-all;
  top: 2.5rem;
  background: rgba(255, 255, 255, 0.85);
  z-index: -1;
  opacity: 0; }
  .table-loading.active {
    opacity: 1;
    z-index: 5; }

.w-auto {
  width: auto; }
